.container {
  margin: auto;
  width: 60%;
  border: #579c87 1px solid;
  display: flex;
  flex-direction: column; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.content_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px; }

.content_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px; }

.menu {
  width: 200px;
  text-align: center;
  height: 300px; }

a {
  text-decoration: none; }

.menu_note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcdfdb; }

.menu_chic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5fe; }

.menu_delice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; }

.menu_palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfffd; }

header {
  height: 10vh;
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  height: 10vh;
  background-color: #579c87;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

footer a {
  margin-left: 3%;
  margin-right: 3%;
  color: #fdcb46; }

header h1 {
  text-align: center;
  color: #fdcb46; }

.item_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh; }

.btn {
  background-color: #579c87;
  border-radius: 10% 10%;
  width: 8rem;
  height: 3rem;
  color: #fdcb46; }
